name: mock Api&Lambda

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # python
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    # # node.js
    # - name: Use Node.js 10.x
    #   uses: actions/setup-node@v1
    #   with:
    #     node-version: 10.x

    # # go
    # - name: Set up Go 1.13
    #   uses: actions/setup-go@v1
    #   with:
    #     go-version: 1.13
    #   id: go

    # aws cli & cdk
    - name: aws cli install
      run: |
        pip install awscli --upgrade --user
        npm install -g aws-cdk

    - name: build and deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        # 1. 必要な依存関係のインストール
        pip install -r cdk/requirements.txt

        # AWS CDKのインストール
        npm install -g aws-cdk

        # 2. CDKアプリのビルド
        # TypeScriptの場合、以下の行を追加
        # npm run build

        # 3. CDKアプリのデプロイ
        #cdk deploy --all
        pwd
        ls -al
        cd cdk
        cdk deploy --all --app "python3 app.py"

